.single-post {
  padding-bottom: 2rem;
  h1 {
    text-align: center;
  }
  img {
    display: block;
    width: 60%;
    margin: auto;
    margin-bottom: 1rem;
  }
  .share-links {
    span {
      font-size: var(--h3-fontsize);
      margin-right: 0.5rem;
    }
    ul {
      list-style: none;
      padding-left: 0;
      display: inline-flex;
    }
    i {
      background-color: var(--color-primary);
      width: var(--h2-fontsize);
      height: var(--h2-fontsize);
      line-height: var(--h2-fontsize);
      font-size: var(--p-h4-fontsize);
      text-align: center;
      border-radius: 50%;
      color: #fff;
      margin-right: 1rem;
    }
  }
}
