.index {
  .hero {
    padding: 0;
    background: url("../img/hero-banner-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    .container {
      .row {
        @media (width >=991px) {
          padding: 0px 4rem;
        }
        justify-content: space-around;
        align-items: center;
        p:first-of-type {
          font-weight: 500;
        }
        p:nth-of-type(2) {
          margin-bottom: 3rem;
        }
      }
    }
  }
  .service {
    .card {
      border: 2px solid #f5f9fa;
      padding: 2.5rem;
      text-align: center;
      line-height: 3rem;
      height: 100%;
      p {
        margin: 2rem;
      }
      ul {
        list-style: none;
        text-align: left;
        li {
          padding-left: 1.3rem;
          margin-bottom: 2rem;
          transition: background-color 0.5s;
          &:before {
            content: "\f00c";
            font-family: FontAwesome;
            display: inline-block;
            border: 2px solid #e6eff1;
            text-align: center;
            color: var(--color-primary);
            padding: 0.5rem 1rem;
            margin-right: 2rem;
          }
        }
      }
      @media (width <=576px) {
        padding: 0rem;
        ul {
          padding-left: 0rem;
          li {
            padding-left: 0;
            margin-left: 0;
          }
        }
      }
    }
  }
  .about-us {
    background: linear-gradient(90deg, #fff 15%, #f8f8f8 15%);
    @media (width <=991px) {
      background: #f8f8f8;
    }
    .row {
      align-items: center;
      .section-heading {
        text-align: start;
        margin-bottom: 1rem;
        p:nth-of-type(2) {
          width: 100%;
        }
      }
      .col:nth-of-type(2) {
        > p {
          border-left: 2px solid var(--color-primary);
          padding-left: 2rem;
        }
        .row {
          margin-top: 1rem;
          .card {
            padding: 2rem;
            border: none;
            background-image: linear-gradient(
              90deg,
              var(--color-primary) 0,
              var(--color-primary) 95%
            );
            background-size: 0 4px;
            background-repeat: no-repeat;
            background-position: left bottom;
            transition: background-size 0.5s ease;
            &:hover {
              background-size: 100% 4px;
            }
            i {
              font-size: var(--h1-font-size);
            }
            h3 {
              font-size: var(--h6-font-size);
              margin: 1.5rem 0;
            }
          }
        }
      }
    }
  }
  .why-choose-us {
    .box-info {
      position: relative;
      &:hover .card {
        &::before {
          bottom: 0;
          height: 100%;
        }
        h3 {
          color: #fff;
        }
      }
      .card {
        position: relative;
        max-width: 85%;
        margin: auto;
        padding: 3rem;
        text-align: center;
        margin-top: -4rem;
        border: none;
        border-radius: 4px;
        z-index: 1;
        box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
        transition: 0.5s;
        &::before {
          position: absolute;
          content: "";
          bottom: 100%;
          left: 0;
          right: 0;
          background-color: var(--color-primary);
          overflow: hidden;
          width: 100%;
          height: 0;
          transition: 0.5s ease;
          z-index: -1;
        }
        h3 {
          font-size: var(--p-h4-font-size);
          transition: color 0.5s ease-in-out;
        }
        .ok {
          position: absolute;
          width: 3.5rem;
          height: 3.5rem;
          background: var(--color-accent);
          color: #fff;
          border-radius: 50%;
          line-height: 3.5rem;
          text-align: center;
          left: 50%;
          top: 110%;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: 0.3s;
        }
      }
      &:hover .ok {
        opacity: 1;
        top: 95%;
      }
    }
  }
  .video {
    background-color: var(--color-secondary);
  }
  .work-progress {
    .box-progress {
      text-align: center;
      position: relative;
      .icon {
        background: #1e2a55;
        display: inline-block;
        width: 60px;
        height: 60px;
        line-height: 56px;
        margin-bottom: 30px;
        border-radius: 3px;
        position: relative;
        span {
          @media (width<=991px) {
            display: none;
          }
          position: absolute;
          z-index: 1;
          &::before {
            content: "";
            position: absolute;
            content: "";
            height: 170px;
            border-right: 1px dashed black;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            top: -55px;
            left: 122px;
            z-index: -1;
          }
          img {
            max-width: 100px;
            margin-left: 100px;
            animation: leftani 5s linear infinite alternate none running;
            @keyframes leftani {
              0% {
                transform: translateX(0);
              }
              100% {
                transform: translateX(100%);
              }
            }
          }
        }
      }
      .content {
        h3 {
          font-size: var(--p-h4-font-size);
          margin-bottom: 1.5rem;
        }
      }
    }
  }
  .team-members {
    .card {
      // overflow: hidden;
      border: none;
      border-top-left-radius: 1.5rem;
      border-top-right-radius: 1.5rem;
      &:hover .card-image .social {
        visibility: visible;
        opacity: 0.95;
        bottom: 0;
      }
      .card-image {
        position: relative;
        img {
          border-top-left-radius: 1.5rem;
          border-top-right-radius: 1.5rem;
          width: 100%;
          z-index: 0;
        }
        .social {
          position: absolute;
          text-align: center;
          list-style: none;
          margin: 0;
          padding: 1rem 0;
          z-index: 3;
          bottom: -10rem;
          transition: 0.5s;
          width: 100%;
          left: 0;
          background-color: var(--color-accent);
          visibility: hidden;
          opacity: 0;
          li {
            display: inline-block;
            margin: 0 0.5rem;
            background-color: #fff;
            padding: 1rem;
            border-radius: 50%;
            width: 4rem;
            height: 4rem;
            i {
              font-size: var(--social-icon-font-size);
              color: var(--color-primary);
            }
          }
        }
      }
      &:hover {
        .card-body {
          &::before {
            bottom: 0%;
            height: 100%;
          }
          h3,
          h4 {
            color: #fff;
          }
        }
      }
      .card-body {
        position: relative;
        background: var(--color-secondary);
        text-align: center;
        padding: 2rem;
        z-index: 0;
        &::before {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          right: 0;
          background-color: var(--color-accent);
          overflow: hidden;
          width: 100%;
          height: 0;
          transition: 0.5s ease;
          z-index: -1;
        }
        h3 {
          font-size: var(--h5-font-size);
          transition: 0.5s ease;
        }
        h4 {
          font-size: var(--h6-font-size);
          transition: 0.5s ease;
          color: #7a7e9a;
          font-weight: 300;
        }
      }
    }
  }
  .blogs {
    .card {
      box-shadow: 0 0 20px 3px #0000000d;
      border: none;
      .card-body {
        background: linear-gradient(var(--color-primary) 0 0) no-repeat,
          linear-gradient(var(--color-primary) 0 0) no-repeat;
        background-size: 4px 0%, 4px 0%;
        background-position: left bottom, top right;
        transition: background-size 1s;
        &:hover {
          background-size: 4px 100%, 4px 100%;
        }
        padding: 1.5rem;
        p:first-of-type {
          color: grey;
          font-size: var(--h6-font-size);
          .vr {
            margin: 0 1rem;
          }
        }
        h3 {
          font-size: var(--h5-font-size);
          color: var(--color-accent);
          margin-bottom: 1rem;
        }
        p:nth-of-type(2) {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
}
