@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
:root {
  font-size: 62.5%;
  --h1-font-size: clamp(5.2rem, 4vw, 9.2rem);
  --h2-font-size: clamp(2.5rem, 3vw, 4.1rem);
  --h3-font-size: clamp(2rem, 2.5vw, 3.83rem);
  --p-h4-font-size: clamp(1.5rem, 2vw, 3.35rem);
  --h5-font-size: clamp(1.3rem, 1.3vw, 3.03rem);
  --h6-font-size: clamp(1.1rem, 1.1vw, 2.5rem);
  --social-icon-font-size: clamp(1.7rem, 1.1vw, 2.5rem);
  --footer-heading-font-size: clamp(2rem, 2vw, 3.35rem);
  --color-primary: #086ad8;
  --color-secondary: #c0e6f0;
  --color-accent: #051242;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
}
html {
  scroll-behavior: smooth;
  --top-spacing: 5.5rem;
  scroll-padding-top: var(--top-spacing);
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.5;
}
section {
  padding: 10rem 0 2rem;
}
p {
  text-align: var(--p-h4-font-size);
}
span {
  color: var(--color-primary);
}
a {
  text-decoration: none;
}
h1 {
  font-size: var(--h1-font-size);
  font-weight: 700;
}
h2 {
  font-size: var(--h2-font-size);
}
h3 {
  font-size: var(--h3-font-size);
}
h4 {
  font-size: var(--p-h4-font-size);
}
h5 {
  font-size: var(--h5-font-size);
}
h6 {
  font-size: var(--h6-font-size);
}
img,
picture,
svg,
video {
  max-width: 100%;
  height: auto;
}
.btn-all {
  display: inline-block;
  font-size: var(--h6-font-size);
  padding: 0rem 2.9rem;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: #fff;
  line-height: 5.6rem;
  transition: background-color 0.5s;
  &:hover {
    background-color: var(--color-accent);
    border: 1px solid var(--color-accent);
  }
}
.primary-color {
  background-color: var(--color-primary);
}
.secondary-color {
  background-color: var(--color-secondary);
}
.accent-color {
  background-color: var(--color-accent);
}
header {
  background-color: #fff;
  padding: 1rem 0;
  .nav-link {
    margin-right: 3rem;
    font-weight: 500;
    color: var(--color-accent);
    transition: color 0.8s;
    &:hover {
      color: var(--color-primary);
    }
  }
  .btn-all {
    line-height: 2.6;
  }
}
.section-heading {
  text-align: center;
  position: relative;
  margin-bottom: 6rem;
  p:first-of-type {
    font-weight: 500;
    text-transform: uppercase;
  }
  h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: clamp(7rem, 10vw, 16rem);
    color: #f5f9fa;
    top: -43px;
    z-index: -1;
    letter-spacing: -3px;
    line-height: 130px;
    width: 100%;
    @media (width<=576px) {
      line-height: 1.2;
    }
  }
  p:nth-of-type(2) {
    font-size: clamp(2.5rem, 5vw, 6rem);
    line-height: 1.3;
    font-weight: 500;
    width: 60%;
    margin: auto;
  }
  @media (width <=576px) {
    p:nth-of-type(2) {
      width: 100%;
    }
  }
}
footer {
  padding: 5rem 0rem 1rem;
  background-color: var(--color-accent);
  color: #fff;
  @media (width <= 576px) {
    h2,
    h3 {
      margin-bottom: 1rem;
    }
  }
  h2 {
    margin-bottom: 2rem;
  }
  .socials {
    a {
      color: #fff;
      i {
        border-radius: 0.5rem;
        background-color: var(--color-primary);
        font-size: var(--social-icon-font-size);
        display: inline-block;
        padding: 1rem 1.3rem;
        margin-right: 1.3rem;
      }
    }
  }
  h3 {
    position: relative;
    z-index: 1;
    font-size: var(--footer-heading-font-size);
    margin-bottom: 2.5rem;
    padding-left: 1.5rem;
    &::before {
      position: absolute;
      content: "";
      width: 0.3rem;
      height: 100%;
      background: #e6335a;
      left: 0;
      z-index: -1;
    }
    &::after {
      position: absolute;
      content: "";
      background: var(--color-accent);
      width: 0.7rem;
      height: 0.7rem;
      left: 0;
      top: 0;
      right: 0;
      overflow: hidden;
      animation: footer-line 5s forwards 0s ease-in alternate infinite running;
    }
    @keyframes footer-line {
      0% {
        transform: translateY(5%);
      }
      100% {
        transform: translateY(300%);
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      line-height: 2.3;
      a {
        color: #fff;
        i {
          border-radius: 0.5rem;
          background-color: var(--color-primary);
          font-size: var(--social-icon-font-size);
          display: inline-block;
          padding: 0.7rem 1rem;
          margin: 0rem 1.5rem 1.5rem 0rem;
        }
      }
    }
  }
  hr {
    color: #fff;
  }
}
